.odd-num {
    background-color: yellow;
}

.numthree {
    font-size:  24px;
}

#oneid {
    color: blue;
    font-size: 36px;
}

.classfour{
    background-color: red;
    font-size: 24px;
    font-weight: bold;
}